:host {
  display: block;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  cursor: crosshair;
}

:host.gol-pan-active {
  cursor: grabbing;
}

canvas {
  background: #041d38;
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
  display: block;
  image-rendering: pixelated;
  will-change: transform;
  transition: transform 900ms ease;
  cursor: inherit;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

canvas:focus {
  outline: none;
}
